<div class="g-wrapper">
       
  <div class="g-content-wrapper g-h100">
        <div class="g-grid g-h100">
          
    <app-header></app-header>
    <div class="g-content-wrap g-span-8 g-float-r g-h100">
            <div class="g-content g-h100">
              <div class="g-content-inset"style="overflow-x: hidden;">                   
                <router-outlet></router-outlet>
              </div>
            </div>
 </div>
</div>

</div>

<div class="g-copy g-span-2">
<div style="color:white" translate>Welcome to Mcdonald's</div>
    <div class="g-inline-block g-logo-gemalto">
        
      <!-- <img src="/assets/img/logo-gemalto.png" width="143" height="50" alt="By GEMALTO - Security to be free" /> -->
    </div>
  </div>
</div>
